@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-white text-neutral-900 leading-loose;
    @apply dark:bg-neutral-900 dark:text-white;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    @apply dark:text-white;
  }

  .h2,
  .h3 {
    @apply font-semibold;
    @apply dark:text-gray-200;
  }

  /* Adaptações para links */
  a {
    @apply text-accent hover:text-accent-hover;
  }

  a:hover {
    @apply dark:text-accent-hover;
  }
}

/* Estilos personalizados */
.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}

.text-outline-hover {
  -webkit-text-stroke: 1px #4a8fff;
}
